!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "foundation-rails"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{"ng-app" => "tilAPP"}
    .off-canvas-wrap{"data-offcanvas" => "", "ng-controller": "userCtrl as user"}
      .inner-wrap
        .bgSlider
          %img.photo{:src => "assets/bgslider1.png"}
          %img.photo{:src => "assets/bgslider2.png"}
          %img.photo{:src => "assets/bgslider3.png"}
          %img.photo{:src => "assets/bgslider4.png"}
        %nav.tab-bar
          %a.left-off-canvas-toggle
            %section.left-small
              %i.fa.fa-user
          %section.middle.tab-bar-section
            %a.logoBar
              %img.logoBar{:src => "assets/finalLogo7.png", 'ng-click': 'goToHome()'}
          %a.right-off-canvas-toggle
            %section.right-small
              %i.fa.fa-search
        %aside.left-off-canvas-menu
          %ul.off-canvas-list
            %li
              %label Login
            = render 'layouts/sidebar'
        %aside.right-off-canvas-menu
          %ul.off-canvas-list
            %li
            = render "layouts/searchSidebar"
        %section.main-section
          .row
            .large-12.small-12.columns
              = yield
        %a.exit-off-canvas
